<?xml version="1.0" encoding="utf-8"?>
<!-- Example deployment for IIS using wfastcgi -->
<configuration>
	<system.webServer>
		<handlers>
		    <!-- Replace C:\code\webtrace-venv with your virtualenv path -->
		    <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\code\webtrace-venv\Scripts\python.exe|C:\code\webtrace-venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" responseBufferLimit="0" />
		</handlers>
	</system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="app.app" />

		<!-- Path to repo checkout -->
		<add key="PYTHONPATH" value="C:\code\webtrace" />

		<add key="WEBTRACE_SERVERINFO" value="webtrace on a Windows server!" />
		<add key="WEBTRACE_TITLE" value="webtrace" />
	</appSettings>
</configuration>
