.status-null {
    color: grey;
}

.status-error {
    color: darkred;
}

.status-done {
    color: darkgreen;
}

.status-working {
    color: darkgoldenrod;
}

.monospace {
    font-family: monospace;
}

.footer {
    text-align: center;
    font-size: small;
}

.copyable {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: gray;
    cursor: pointer;
}

.mtr-stale-hop, .footer {
    color: #555;
}
