.status-null {
    color: grey;
}

.status-error {
    color: darkred;
}

.status-done {
    color: darkgreen;
}

.status-working {
    color: darkgoldenrod;
}

.monospace {
    font-family: monospace;
}

.footer {
    text-align: center;
    font-size: small;
}

.copyable {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: gray;
    cursor: pointer;
}

.mtr-stale-hop, .footer {
    color: #555;
}

/* Styles for multi mode */
.flex-container {
    display: flex;
    align-content: flex-start;
    justify-content: start;
    flex-wrap: wrap;
}

.flex-container > iframe {
    width: 90vw;
    max-width: 650px;
    height: 40vh;
    max-height: 600px;
}
