<!DOCTYPE html>
<html lang="en">
{% include "head.html.j2" %}
<body>
<div class="main">
<h1>highdef.network</h1>
{% include "nav.html.j2" %}
<div class="container">

{% if error %}
<p class="info-error">Error: {{ error | default("Unspecified error") }}</p>
{% endif %}

<button onclick="history.back()">Go Back</button>

</div> <!-- container -->
{% include "footer.html.j2" %}
</div> <!-- main -->
</body>
</html>
