<div class="footer">
<a href="https://github.com/jlu5/webtrace">Source code</a>
{% if version_git %}
| Revision: {{ version_git }}
{% endif %}
|
<a href="https://highdef.network">highdef.network</a>
</div>
