<!DOCTYPE html>
<html lang="en">
{% set page_title = 'WebTrace' %}
{% include "head.html.j2" %}

<body onload="doInit()">
<script src="static/webtrace.js"></script>

<div class="main">
<h1>WebTrace - Interactive Ping & Traceroute</h1>
{% if serverinfo|default(None) %}
Server Info: <b>{{ serverinfo }}</b>
<br>
{% endif %}
Action:
<input type="radio" id="action_trace" name="action" value="trace" checked onkeypress="onInputKeyPress(event)">
<label for="action_trace">Traceroute</label>
<input type="radio" id="action_ping" name="action" value="ping" onkeypress="onInputKeyPress(event)">
<label for="action_ping">Ping</label>
<input type="radio" id="action_ping" name="action" value="mtr" onkeypress="onInputKeyPress(event)">
<label for="action_mtr">mtr (beta)</label>
<br>

<label for="target">Target:</label>
<input type="text" id="target_input" name="target"
       placeholder="e.g. 172.20.0.53" onkeypress="onInputKeyPress(event)">

<button onclick="runTrace()">Submit</button>
<button onclick="stopTrace(true)">Stop</button>

<noscript><p class="status-error">Interactive mode requires JavaScript!</p></noscript>

<div class="monospace">
<p>Status: <span id="status" class="status-null">Not started</span></p>
<pre id="output" class="monospace"></pre>
<table id="mtr_output"></table>
</div>

<h2>API documentation</h2>
<ul>
    <li>
    <code><a href="trace?target=8.8.8.8">/trace?target=8.8.8.8</a></code>
    - traceroute to the specified target
    </li>
    <li>
    <code><a href="ping?target=8.8.8.8">/ping?target=8.8.8.8</a></code>
    - ping the specified target
    </li>
    <li>
    <code><a href="mtr?target=8.8.8.8">/mtr?target=8.8.8.8</a></code>
    - mtr to the specified target (output using mtr's <a href="https://github.com/traviscross/mtr/blob/master/FORMATS">"split" format</a>)
    </li>
</ul>
<p>All actions support HTTP streaming - try reading them in curl or wget!</p>

</div> <!-- container -->
{% include "footer.html.j2" %}
</div> <!-- main -->
</body>
</html>
