<!DOCTYPE html>
<html lang="en">
{% set page_title = 'WebTrace - Interactive Traceroute' %}
{% include "head.html.j2" %}

<body>
<script src="static/webtrace.js"></script>

<div class="main">
<h1>WebTrace - Interactive Traceroute</h1>
<label for="target">Target for traceroute:</label>
<input type="text" id="target_input" name="target"
       placeholder="e.g. 172.20.0.53" onkeypress="onInputKeyPress(event)">
<button onclick="runTrace()">Submit</button>

<noscript><p class="status-error">Interactive mode requires JavaScript!</p></noscript>

<div class="monospace">
<p>Status: <span id="status" class="status-null">Not started</span></p>
</div>
<pre id="output" class="monospace"></pre>

<h2>API documentation</h2>
<ul>
    <li>
    <code><a href="trace?target=8.8.8.8">/trace?target=8.8.8.8</a></code>
    - trace to the specified target
    </li>
</ul>

</div> <!-- container -->
{% include "footer.html.j2" %}
</div> <!-- main -->
</body>
</html>
