<!DOCTYPE html>
<html lang="en">
{% include "head.html.j2" %}

<body onload="doInit()">
<script src="static/webtrace.js"></script>
<script src="static/webtrace-common.js"></script>

<div class="main">
{% if not embed %}
<h1>webtrace - Interactive Ping & Traceroute</h1>
{% endif %}
{% if serverinfo|default(None) %}
Server Info: <b>{{ serverinfo }}</b>
<br>
{% endif %}

{% include "control.html.j2" %}

<noscript><p class="status-error">Interactive mode requires JavaScript!</p></noscript>

<div class="monospace">
<p>Status: <span id="status" class="status-null">Not started</span></p>
<pre id="output" class="monospace"></pre>
<table id="mtr_output"></table>
</div>

{% if not embed %}
<h2>API documentation</h2>
<ul>
    <li>
    <code><a href="trace?target=8.8.8.8">trace?target=8.8.8.8</a></code>
    - traceroute to the specified target
    </li>
    <li>
    <code><a href="ping?target=8.8.8.8">ping?target=8.8.8.8</a></code>
    - ping the specified target
    </li>
    <li>
    <code><a href="mtr?target=8.8.8.8">mtr?target=8.8.8.8</a></code>
    - mtr to the specified target (output using mtr's <a href="https://github.com/traviscross/mtr/blob/master/FORMATS">"split" format</a>)
    </li>
</ul>
<p>All actions support HTTP streaming - try reading them in curl or wget!</p>

{% include "footer.html.j2" %}
{% endif %}
</div> <!-- main -->
</body>
</html>
